header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background: rgb(120,144,170);
  background: linear-gradient(0deg, rgba(20,48,79,1) 0%, rgba(170,177,170,0) 100%), url(https://images.pexels.com/photos/990432/pexels-photo-990432.jpeg?cs=srgb&dl=pexels-josh-sorenson-990432.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-title{
  position: absolute;
  color: #e2e5e9;
}

.button-add {
  background-color: green;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0.8rem 3rem;
}

.no-show{
  display: none;
}

.show {
  width: 13rem;
  display: flex;
  align-items: center;
  margin: 2rem auto;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 3rem;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
}

.book {
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 3rem;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.changes{
  background-color: rgba(20,48,79,0.5);
  border-radius: 0.8rem;
  border: none;
  padding: 0.3rem 1rem;
  margin-right: 2rem;
  -webkit-box-shadow: 5px 5px 15px -4px #000000; 
  box-shadow: 5px 5px 15px -4px #000000;
}

.delete{
  background-color: rgba(79, 51, 20, 0.5);
  border-radius: 0.8rem;
  border: none;
  padding: 0.3rem 0.5rem;
  -webkit-box-shadow: 5px 5px 15px -4px #000000; 
  box-shadow: 5px 5px 15px -4px #000000;
}

